.Card-Custom{
    margin-top: 1px;
    margin-bottom: 2px;
}
.Card-Custom:hover{
    background-color: rgba(243, 234, 234, 0.17);
    border: #8b1219 solid 1px;
    border-radius: 40px;
    cursor: pointer;
}
footer{
    margin-top: 5px;
}
.btn-active-modal{
    margin-top: 20px;
}
.btn-foot{
    padding-top: 0.5rem;
}
.btn-foot-btn{
    font-size: 0.9rem;
}
.bg-darkLight{
    background-color: #cfd0d1;
}

